.DS_Store
*.zip
*.pdf
.gitignore
node_modules
vr-simulation
docker-compose.yml
sandboxRun

backend/node_modules
backend/src/public/uploads
backend/src/test.ts
backend/src/utils/testTmpSimulationManager.ts
backend/src/seed/example_worksheet.pdf
backend/src/seed/example_simulation.zip


backend/.env
backend/.gitignore
backend/ReadMe.md

frontend/node_modules
frontend/.gitignore
frontend/favicon_C.png
frontend/src/test.ts
frontend/ReadMe.md
frontend/src/pages/StudentPage.tsx
